<mat-sidenav-container fullScreen>
  <mat-sidenav #sidenav mode="side" opened class="sidenav-content">
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard">Dashboard</a>
      <a mat-list-item routerLink="/">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <span class="spacer"></span>
      <p>Hello {{ user.name }}</p>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>color_lens</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-template ngFor let-elem [ngForOf]="themes">
          <button mat-menu-item (click)="changeTheme(elem.value)">
            <mat-icon>format_color_fill</mat-icon>
            <span>{{ elem.title}}</span>
          </button>
        </ng-template>
      </mat-menu>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
